---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import BriefcaseIcon from '../components/icons/BriefcaseIcon.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import ProfileCheckIcon from '@/components/icons/ProfileCheckIcon.astro';
import AboutMe from '@/components/AboutMe.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import ContactIcon from '@/components/icons/ContactIcon.astro';
import Contact from '@/components/Contact.astro';
---

<Layout title="jl mora"
	description="Portafolio de Jose Morales - Desarrollador y programador web">
	<main class="px-4">
		<SectionContainer class="pt-32 pb-20 md:pt-56 md:pb-36">
		  <Hero>
		  </slot>
		</Hero>
		</SectionContainer>
		
		<SectionContainer id="experiencia">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<BriefcaseIcon class="size-8" />
			Experiencia laboral
		  </h2>
		  <Experience />
		</SectionContainer>
	
		<SectionContainer id="proyectos">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<CodeIcon class="size-7" />
			Proyectos
		  </h2>
		  <Projects />
		</SectionContainer>
	
		<SectionContainer id="sobre-mi">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
		  >
			<ProfileCheckIcon class="size-8" />
			Sobre mí
		  </h2>
		  <AboutMe />
		</SectionContainer>
		<SectionContainer id="contacto">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
		  >
			<ContactIcon class="size-8" />
			Contactame
		  </h2>
		  <Contact />
		</SectionContainer>
	  </div>
	  </main>
</Layout>

<style>
	
</style>
