<section class="flex flex-col md:flex-row gap-8 justify-center items-center ">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, ipsa obcaecati doloremque adipisci illo, quos accusamus mollitia dicta amet, officia distinctio. Similique tempore aspernatur vitae, praesentium quos cum quia deleniti!
        </p>
    
        <p>
            Algunas cosas que puedo destacar sobre mi trayectoria es que participe de una <strong>hackathon</strong> en la universidad con un grupo de colegas,
            y aun que no logramos el primer lugar, soy de las personas que les gustan los retos.
        </p>
    
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quae iusto quo, doloremque omnis inventore cum obcaecati ipsam eius sequi id quis fugit excepturi natus ipsum perspiciatis aliquam earum nobis?
        </p>
    </div>

    <img class="rounded-full size-64 orden-1 md:order-2" src="/foto perfil redes.jpg" alt="logo jose morales">
</section>