<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
        <p>
            Me llamo Jose, futuro <strong>Ingeniero de Software</strong>. Valoro mucho el tiempo invertido en algo, eso fue uno de mis motivos para estudiar mi carrera, para poder automatizar las cosas tanto para mi como para las demas personas.
        </p>
        <p>
            A lo largo de mi carrera participe de, <a href="https://utp.edu.pe/hackathon-utp-comercio" class="hover:underline italic">hackathones</a> organizados por la universidad. Asi como en concursos de programacion como <a href="https://empleabilidadutp.my.canva.site/startuputp" class="hover:underline italic">creando STARTUPS</a>, estos programas me han permitido aprender mucho y desarrollar mas sobre mi personalidad competitiva.
        </p>
    </div>

    <img width="200" height="200" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%" src="/me.webp" alt="logo jose morales">
</article>