---
const { images, carruselId } = Astro.props;
---

<div id={carruselId} class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
  {
  images.map(({src, alt }, idx) => (
    <img
      alt={alt}
      class={`object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 hidden`}
      loading="lazy"
      src={src}
      data-index={idx}
    />
  ))
  }
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const carrusel = document.querySelector('#api');
    const img = carrusel.querySelectorAll('img');
    let currentIndex = 0;

    function showImage(index) {
      img.forEach((image, idx) => {
        image.style.display = idx === index ? 'block' : 'none';
      });
    }
    function nextImage() {
      currentIndex = (currentIndex + 1) % img.length;
      showImage(currentIndex);
    }
    setInterval(nextImage, 4000);
    showImage(currentIndex);
  });
</script>
