---
import ExperienceItem from "./ExperienceItem.astro"

    const EXPERIENCE = [
        {
            date: 'Actualmente ...',
            title: "Desarrollador Web Full Stack - Gofacturas",
            description: "Desarrollando modulos de front-end y back-end, para la creacion un sistema de gestión de inventario, facturacion y ventas (serivicios SAS). Trabajando con conceptos como API REST, Logica de Negocio.",
            link: "https://www.linkedin.com/company/gofacturas",
        },
        {
            date: 'Noviembre 2022 - Julio 2023',
            title: "Dictado de Cursos - EpicGroup",
            description: "Dictado de cursos de programacion basica en vivo a travez de la plataforma zoom, clases dedicada a niños. Trabajando con tecnologias como HTML, CSS, JavaScript, Blender y desarrollo de proyectos (Lean Startup, Kanban, Estudio de mercado etc.).",
        }
    ]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">
    {
        EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience}/>
        </li>
            
        ))
    }
</ol>
