---
    const currentYear = new Date().getFullYear();
---

<footer class="rounded-lg shadow bg-black/10 backdrop-blur-lg m-4 w-full mx-auto mt-32">
    <div class="max-w-screen-md mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://www.linkedin.com/in/josemoralesv24/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/dev.gif" class="size-8" alt="Logo de mi perfil" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Hello word</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white/90 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="/components" class="hover:underline me-4 md:me-6">Componentes</a>
                </li>
                <li>
                    <a href="https://github.com/midudev/" class="hover:underline me-4 md:me-6">Creditos a <strong>midudev</strong></a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-yellow-200/90 sm:text-center">© {currentYear} <a href="https://www.linkedin.com/in/josemoralesv24/" class="hover:underline">JossMorales™</a>. Todos los derechos reservados.</span>
    </div>
</footer>