<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <span></span>

    <nav class="flex flex-row gap-x-10 opacity-8">
        <a href="#top">Home</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Sobre mi</a>
        <a href="#contact">Contact</a>
    </nav>
</header>