---
import LenguageSelector from "./LenguageSelector.astro"
import MenuToggle from "./MenuToggle.astro"
import ThemeToggle from "./ThemeToggle.astro"
import MenuIcon from "./icons/MenuIcon.astro"


const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
]
---

<header
  class="fixed top-0 z-10 flex justify-end items-center w-full mx-auto py-3 backdrop-blur-sm md:justify-center"
>
  <nav
    class="flex px-3 text-sm font-medium text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="hidden md:block relative px-3 py-1 mx-2 transition rounded-full bg-black/10 dark:bg-white/10 hover:text-yellow-500 dark:hover:text-yellow-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
	<!-- <LenguageSelector /> -->
    <ThemeToggle />
    <MenuToggle items={navItems} />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")
    const navbarMenu = document.querySelectorAll("navbar-menu");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500")
            } else {
              item.classList.remove("text-yellow-500")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }

    // Navbar menu
    navbarMenu.forEach((menu) => {
      menu.addEventListener("click", () => {
        navbarMenu.forEach((item) => {
          item.classList.remove("open")
        })
        menu.classList.toggle("open")
      })
    })
  })
</script>

<style>
  #navbar-menu.open {
    display: inline;
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  header {
	animation: nav-shadown 1s linear both;
	animation-timeline: scroll();
	animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-black/20 dark:bg-white/20 ring-white/10;
    }
  }
</style>