---
const personalImageAlt = "Jose Morales - Desarrollador web"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro"
import MailIcon from "@/components/icons/MailIcon.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
import DowloadIcon from "./icons/DowloadIcon.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/dev-me.gif"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/josemoralesv24/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  Hey, soy Jose Morales
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <span class="opacity-80">Desarrollador Web Full Stack</span> con <span>dos años de experiencia</span>. De Lima - Peru. Estudiante de <span>Ingeniería de Software</span>.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/josemoralesv24/">
        <LinkedInIcon class="size-4 md:size-6" />
        LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/jmorales01">
        <GitHubIcon class="size-4 md:size-6" />
        GitHub
    </SocialPill>
    <SocialPill href="mailto:joseluismoralesvega24@gmail.com" target="_blank">
        <MailIcon class="size-4 md:size-6" />
        Gmail
    </SocialPill>
    <SocialPill href="https://cv-web-ochre.vercel.app/">
        <DowloadIcon class="size-4 md:size-6" />
        Ver CV
    </SocialPill>
  </nav>
</div>