---

import ChevronIcon from "./icons/ChevronIcon.astro";

---

<div class="relative inline-block text-left">
  <div
    class="group rounded text-sm font-semibold transition-all hover:bg-gray-300 dark:hover:bg-gray-800 border-2 border-black/10 dark:border-white/10"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <span>ES</span>
      <ChevronIcon class="size-4 -mr-1" />
    </button>
    <ul
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden absolute w-full"
    >

          <li class="">
            <a
              class="rounded hover:bg-gray-300 dark:hover:bg-gray-800 border-2 -mx-0.5 border-black/10 dark:border-white/10 whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href="#"
            >
              <span>EN</span>
            </a>
          </li>
    </ul>
  </div>
</div>